/cnn.ipynb
/cnn_2.ipynb
/dataset_2
/edge_detection.ipynb
/preprocessing.py
/preprocessingv2.py
/random_forest_bak.ipynb
/random_forest_exp.ipynb
/segmentation.ipynb
/test.ipynb
/Vehicles-OpenImages.v1-416x416.multiclass (1).zip
/__pycache__
/bak-dataset
/flip_image.ipynb
